<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,140},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,210},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,280},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,350},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,420},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,490},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,560},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,630},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,700},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,770},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,840},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,910},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,980},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{0,1050},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wolf1.png</string>
            <key>size</key>
            <string>{51,1120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39653818b3482bafcf55a468fd0663a9:15d33d6c4792f998379193750db01a54:e34bea524467c485388859b8ae9b0c14$</string>
            <key>textureFileName</key>
            <string>wolf1.png</string>
        </dict>
    </dict>
</plist>
